@model IEnumerable<WebApp.Models.Employee>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using WebApp.Models
@{
    ViewData["Title"] = "Employee List";
}
<div class="card-deck">
    <h2>Employee List</h2>
    <ul>
        @foreach (Employee employee in @Model)
        {
            <li>
                @Html.ActionLink(employee.Name, "Details", new { id = employee.Id })

            </li>
        }
    </ul>
</div>

